 html {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
 }

 body {
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-size:contain;
    background-repeat: no-repeat;
    max-width: 1440px; 
}


h1 {
    font-weight: 900;
    color: hsl(224, 23%, 30%);
}

p {
    margin: 0;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}

b {
    font-weight: 800;
    color: hsl(0, 0%, 25%);
}

.mainPanel {
    
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    border-radius: 8% / 4%;
    width: 50%;
    block-size: min-content;
    align-self:center;
    text-align: center;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
 


.pricePanel {
    background-color: hsl(225, 100%, 98%);
    border-radius: 5% / 20%;
    width: 85%;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;  
    padding: 5% 0;   
}



.changeBtn {
  float: right;
  border: 0;
  border-radius: 10%;
  background-color: hsl(225, 100%, 98%);
  align-self: flex-end;
  margin-right: 4%;
  margin-top: -3.5%;
  text-decoration: underline;
  transition: background-color 200ms ease-in-out;
  color: hsl(245, 75%, 52%);
  font-weight: 800;
}

.changeBtn:hover {
    color: hsl(245, 75%, 65%);
    text-decoration: none;
}

.iconMusic {
    float: left;
    border: 0;
    margin: 0 4%;
    max-width: 100%;
    border-radius: 50%;
    margin-right: 8%;
}

.proceedBtn {
    
    border: 0;
    background-color: hsl(245, 75%, 52%);
    color:hsl(225, 100%, 94%);
    border-radius: 3% / 25%;
    padding: 3.5%;
    width: 85%;
    font-weight: 800;
    margin-bottom: 5%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 0px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  }  

  .proceedBtn:hover {
      background-color: hsl(245, 75%, 65%);
  }

  .cancelBtn {
    
    display: inline-block;

    border: 0;
    background-color: white;
    color:hsl(224, 23%, 55%);
    align-content: center;
    align-self: center;
    border-radius: 3% / 25%;
    padding: 3.5%;
    width: 85%;
    height: auto;
    font-weight: 800;
    margin-bottom: 5%;
  }

  .cancelBtn:hover {
      color: hsl(224, 23%, 30%);
  }


.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (max-width: 414px) {
    .mainPanel {
        display: flex;
        width: 83%;
    }
    .mainP {
      text-align: center;
      margin-left: 10%;
      width: 75%;
    }
    }

    @media (max-width: 375px) {
      .mainPanel {
          display: flex;
          margin-left: 5%;
          width: 78%;
      }
      .mainP {
        text-align: center;
        margin: auto;
        width: 75%;
      }
      }

      @media (max-width: 320px) {
        .mainPanel {
            display: flex;
            margin-left: 10%;
            width: 77%;
        }
        .mainP {
          text-align: center;
          margin: auto;
          width: 75%;
        }
        }